<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "Timeea_Samoila.png", width: 264 %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-content" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="button-secondary" href="#about-container" target="_self">About me</a>
          </li>
          <li class="nav-item">
            <a class="button-secondary" href="#cards-projects" target="_self">Projects</a>
          </li>
          <li class=" nav-item">
            <a class="button-primary" href="#contact" target="_self">Get in touch!</a>
          </li>
      </ul>
    </div>
  </div>
</div>
