body{
  background-color: #4C214D;
  font-family: 'unna';
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.content-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.banner{
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 100;
  width: 1400px;
  margin-bottom: 0;
  padding-bottom: 0;

  h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DDD8CB;
    font-size: 158px;
    letter-spacing: 70px;
    position: absolute;
    top: 0px;
    left: 25px;
    z-index: 2;
  }

  h2{
    color: transparent;
  -webkit-text-stroke: 0.8px #D7B63B;
    font-size: 158px;
    letter-spacing: 70px;
    position: absolute;
    top: 179px;
    left: 25px;
    transition: color 0.3s;
  }

  h3{
    color: transparent;
  -webkit-text-stroke: 0.8px #D7B63B;
    font-size: 158px;
    letter-spacing: 70px;
    position: absolute;
    top: 365px;
    left: 25px;
    transition: color 0.3s;
  }

  h4{
    color: transparent;
  -webkit-text-stroke: 0.8px #D7B63B;
    font-size: 158px;
    letter-spacing: 70px;
    position: absolute;
    top: 550px;
    left: 25px;
    transition: color 0.3s;
  }
}

.banner-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #4C214D;
  color: #DDD8CB;
  width: 245px;
  height: 193px;
  font-size: 28px;
  position: absolute;
  bottom: 71px;
  right: 16px;
  z-index: 1;

  a{
    color: #DDD8CB;
    text-decoration: 1px underline;
  }
}

.picture{
  position: relative;
  z-index: 1;
}

.top-container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 8px;
  margin-bottom: 250px;
}

.description-container{
  display: flex;
  align-items: flex-end;
  position: absolute;
  width: 100vw;
  background-color: #141414;
  padding-left: 134px;
  padding-right: 134px;

  color:#DDD8CB;
  height: 350px;
  bottom: -263px;

  .description{
    font-size: 24px;
    word-wrap: break-word;
    width: 500px;
    height: auto;
    padding: 8px;
  }
}

.about{
  margin: 50px;
}
